body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 2rem;
}

#about {
    background-color: #f4f4f4;
}

#research ul {
    list-style-type: square;
}

#team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#contact {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}


.research-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.research-area {
    flex: 0 0 auto;
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}